.body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  
  }
  
  .card-container {
    display: flex;
    width: 250px;
    height: 400px;
    /* background: url('./Pict/michael-afonso-Z_bTArFy6ks-unsplash.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
  
    font-family: 'Roboto', sans-serif;
  
    border-radius: 15px;
    -webkit-box-shadow: 11px 15px 11px -8px rgba(0, 0, 0, 0.31);
    -moz-box-shadow: 11px 15px 11px -8px rgba(0, 0, 0, 0.31);
    box-shadow: 11px 15px 11px -8px rgba(0, 0, 0, 0.31);
  }
  
  .card-main {
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.6);
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  
  .card-text-name {
    margin: 0.1rem;
    color: #fff;
    font-size: 16pt;
    font-weight: bold;
  }
  
  .card-text-description {
    margin: 0;
    font-style: italic;
    color: #fff;
  }
  
  .card-project {
    display: flex;
    flex-direction: row;
    margin: 0.2;
    font-size: 10pt;
  }
  .card-text-total-project {
    margin: 0.3rem;
    margin-bottom: 0.1rem;
    color: #fff;
    /* font-size: 13pt; */
    /* font-weight: bold; */
  }
  
  .card-text-success-rate {
    margin: 0.3rem;
    margin-bottom: 0.1rem;
    color: #fff;
  }
  
  .card-text-skill {
    margin: 0;
    color: #fff;
  }
  
  .card-text-list-skill {
      font-size: 11pt;
    text-align: center;
    margin-top: 0;
    /* margin-left: 0.4rem; */
    margin-bottom: 0.4rem;
    color: #fff;
  }
  